<!DOCTYPE html>
<html ng-app='myApp'>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body ng-controller='mainCtrl'>
		{{message}}
		<input type="text" ng-model="newMessage">
		{{newMessage}}
	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
	<script src="app.js"></script>
	<script src="controller.js"></script>
</html>





<!-- <html ng-app="myApp">
	<body ng-controller="mainCtrl">

		<input type="text" name="name" ng-model="newMessage">
		<button type="button" ng-click="changeMessage(newMessage)">Click to change</button>
		{{message}}
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
		<script src="app.js"></script>
		<script src="controller.js"></script>
		<script src="service.js"></script>
	</body>
</html> -->
